---
import '../pages/style.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="style.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Welcome to my Website</h1>
		<p> This paragraph is blue </p>
		<p> This paragraph is red </p>
		
		<h3> This is subheading </h3>

		<ul>
			<li> My favourite colour is green </li>
			<li> My favourite movie is </li>
			<li> A website i visit often is <a href="https://play.cpjourney.net/"> Club Penguin </a>  </li>
		</ul>

		<h3> Here is a picture I clicked </h3>
		<img src="/images/image.jpg" />

	</body>
</html>
